name: Quality

on:
  workflow_call:
  pull_request:
    branches: [ master ]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - uses: pre-commit/action@v3.0.0
      - uses: pre-commit-ci/lite-action@v1.0.0
        if: always()

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache Poetry
        uses: actions/cache@v3
        id: poetry-cache
        with:
          path: |
            ~/.local
          key: poetry-1.6.1
          restore-keys: |
            poetry-1.6.1

      - name: Cache virtualenv
        uses: actions/cache@v3
        id: virtualenv-cache
        with:
          path: |
            ~/.cache
          key: virtualenv-Python${{ matrix.python-version }}-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            virtualenv-Python${{ matrix.python-version }}-${{ hashFiles('**/poetry.lock') }}

      - name: Install and configure Poetry
        if: steps.poetry-cache.outputs.cache-hit != 'true'
        uses: snok/install-poetry@v1
        with:
          version: 1.6.1
          virtualenvs-create: true
          virtualenvs-in-project: false
          installer-parallel: true

      - name: Install Dependencies
        if: steps.virtualenv-cache.outputs.cache-hit != 'true'
        run: poetry install

      - name: Test with pytest
        run: poetry run pytest --cov .
